* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252323;
  width: 100%;
}

header h1 {
  color: #f5f1ed;
  text-align: center;
  padding: 10px;
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: darkblue;
}

header nav ul li {
  margin: 3px;
}

header nav ul li a {
  color: #f5f1ed;
  margin: 10px;
}

.techstack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.group {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: #9cfffa;
}

.intro-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-desc > p {
  margin: 5px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

.responsive {
  max-width: 100%;
  height: auto;
}

#aboutme,
#techstack,
#projects,
#contact {
  background-color: #9cfffa;
  margin: 10px;
}

.tech,
.projects,
.contact {
  padding: 10px;
}

.techstack ul li {
  margin: 5px;
}

.techstack,
.projects {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

.tech h2 {
  text-align: center;
}

.passions {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 30px;
  color: #5b5750;
}

.passions > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passions-desc > p {
  margin: 5px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

#git-size {
  width: 25px;
  height: 25px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gif {
  width: 200px;
  height: 350px;
  margin: 10px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 550px;
}

i {
  color: black;
}

label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.social-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-links > a {
  margin: 5px;
}

input,
textarea {
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
}

button {
  width: 70px;
  height: 30px;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.project > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3.project-title {
  font-size: 15px;
  margin: 5px;
  color: #5b5750;
}

.project {
  margin: 5px;
}

.project section p {
  margin-bottom: 5px;
  margin-top: 0;
}

@media all and (min-width: 400px) {
  header nav ul {
    flex-direction: row;
  }

  header nav ul li a {
    font-size: 12px;
    margin: 5px;
  }
}

footer {
  background-color: #252323;
  color: #f5f1ed;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-desc {
  padding: 10px;
  max-width: 600px;
}

.tech-used {
  padding: 10px;
}

@media all and (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .gif {
    width: 300px;
    height: 450px;
    margin: 10px;
  }

  header h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }

  .gif {
    width: 300px;
    height: 450px;
  }

  .project {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
  }

  .projects-flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media all and (min-width: 800px) {
  .gif {
    width: 400px;
    height: 550px;
  }
}
