* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252323;
  width: 100%;
}

header h1 {
  color: #f5f1ed;
  text-align: center;
  padding: 10px;
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

header nav ul li {
  margin: 3px;
}

header nav ul li a {
  color: #f5f1ed;
  margin: 10px;
}

.group {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid lightgray;
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: #9cfffa;
}

.intro-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-desc > p {
  margin: 5px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

.responsive {
  max-width: 100%;
  height: auto;
}

#aboutme,
#techstack,
#projects {
  background-color: #9cfffa;
  margin: 10px;
}

.tech,
.projects {
  padding: 10px;
}

.techstack ul li {
  margin: 5px;
}

.techstack {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

.tech h2 {
  text-align: center;
}

.passions {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
  font-size: 30px;
  color: #5b5750;
}

.passions > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passions-desc > p {
  margin: 5px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

#git-size {
  width: 25px;
  height: 25px;
}

@media all and (min-width: 400px) {
  header nav ul {
    flex-direction: row;
  }

  header nav ul li a {
    font-size: 12px;
    margin: 5px;
  }
}

@media all and (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  header h1 {
    font-size: 42px;
  }
}

@media all and (min-width: 1000px) {
}
